<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>Wersja</b> 0.1 beta
	</div>
    <strong>Copyright &copy; 2014-2015 <a href="#">e-dziennik.com</a>.</strong> All rights reserved.
</footer>