{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - klasy{% endblock %}

{% block content %}
<div class="row" style="margin-top:60px;margin-bottom: 20px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Nowa klasa</h3>
        </div>
        <div class="panel-body">
            <form name="inputform" method="POST" action="/admin/classes">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Nazwa klasy:</span>
                    <input type="text" name="name" value="" class="form-control" style="width:250px;" />

                    <select name="year" class="form-control" style="width:250px">
                        <a href="{{ url('Classes/prepare') }}">Dodaj nową</a><hr />
                        {% for y in years %}
                            <option value="{{ y }}">{{ y }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="save" value="Zapisz" class="btn btn-default" />
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
