{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - lekcja{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Szkoła
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('Home/index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{{ url('School/index') }}"><i class="fa"></i>Szkoła</a></li>
            <li><a href="{{ url('School/classrooms') }}"><i class="fa"></i>Sale lekcyjne</a></li>
            <li class="active">Dodaj nową</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
                <li><a href="#ratings-chart" data-toggle="tab">Oceny</a></li>
                <li><a href="#attendance-chart" data-toggle="tab">Frekwencja</a></li>
                <li class="active"><a href="#lesson-chart" data-toggle="tab">Lekcja</a></li>
                <li class="pull-left header"><i class="fa fa-inbox"></i> Dziennik</li>
            </ul>
            <div class="tab-content">
                <!-- Morris chart - Sales -->
                <div class="chart tab-pane active" id="lesson-chart" style="position: relative; min-height: 300px;">

                    <form name="inputform" method="POST" action="{{ url('School/classrooms', {'action': 'add'}) }}">


                        <div class="input-group">
                            <span class="input-group-addon" >Temat:</span>
                            <input type="text" name="name" value="" class="form-control" style="width:250px;" />
                        </div>

                        <div class="box-footer clearfix no-border">
                            <input type="submit" name="save" value="Zapisz" class="btn btn-default pull-right" />
                            <input type="submit" name="saveAndAdd" value="Zapisz i nowa" class="btn btn-default pull-right" />

                        </div>

                    </form>


                </div>
                    <div class="chart tab-pane" id="attendance-chart" style="position: relative; min-height: 300px;">
                        Frekwencja....
                    </div>
                    <div class="chart tab-pane" id="ratings-chart" style="position: relative; min-height: 300px;">
                        Ocenki
                    </div>
            </div>
        </div><!-- /.nav-tabs-custom -->








    </div><!-- /.box -->


{% endblock %}