{% extends './baseSP.html.twig' %}

{% block title %}eDziennik AMN{% endblock %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="home">
        <div class="container">
            <div class="media">				
                <div class="media-body">
                    <div class="col-md-11">
                        <h1 class="title">e-<span>Dziennik</span></h1>

                        <p>To wygodny dziennik internetowy<br/>
                            Prosty i szybki w użyciu.<br/>
                            Nie wymaga instalacji żadnego nowego oprogramowania,<br/>
                            wystarczy komputer z dostępem do internetu.<br/>
                            Wygląda i "działa" podobnie jak dziennik papierowy.</p>
                        <p>
                            <a class="btn btn-success btn-lg">Zarejestruj się</a>
                            <a class="btn btn-warning btn-lg">Wypróbuj</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="services">
        <!-- Example row of columns -->
        <div class="row features">
            <div class="col-lg-4 text-center">
                <div class="single-fet">
                    <div>
                        <span class="icon-stack icon-4x">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-ok icon-light"></i>
                        </span>
                    </div>
                    <h2>Aktualna wersja <span class="label label-primary">0.1</span></h2>
                    <p>Dzięki wywiadom i ankietom przeprowadzanym w wielu placówkach, ciągle udoskonalamy e-dziennik do potrzeb nauczycieli, uczniów oraz rodziców.</p>

                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="single-fet">
                    <div>
                        <span class="icon-stack icon-4x">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-laptop icon-light"></i>
                        </span>
                    </div>
                    <h2>Mobilne technologie</h2>

                    <p>Dziennik jest tworzony tak, aby bez problemu można było z niego skorzystać także na mobilnych urządzeniach.</p>

                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="single-fet">
                    <div>
                        <span class="icon-stack icon-4x">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-download-alt icon-light"></i>
                        </span>
                    </div>
                    <h2> Przyjazny dla Ucznia</h2>

                    <p>Dzięki naszemu systemowi, uczeń może bez problemów śledzić swoje postępy w nauce, na bierząco sprawdzać zaległości
                        i to z każdego miejsca - wystarczy dostęp do Internetu!</p>

                </div>
            </div>

        </div>


    </div>


    <section class="slider" id="features">
        <div class="container">
            <div class="inner-page">
                <h2 class="page-headline large text-center">Sprawdź, jakie możliwości daje nasz e-Dziennik.</h2>

                <p class="text-center">Wybierz typ użytkownika i sprawdź, do jakich opcji ma dostęp dana osoba w naszym systemie.</p>
            </div>
            <div class="row inner-page">
                <div class="col-md-8 col-md-push-4 lazy-container loaded">
                    <!--<img data-original="images/mockup.png" src="images/mockup.png" alt="Looks great on every device"-->
                    <!--class="lazy">-->

                    <h2>Możliwości <strong>Administratora</strong></h2>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-group"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Semestry</h4>

                                    <p class="tall">Zarządzanie zakresami semestrów.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-file"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Klasy</h4>

                                    <p class="tall">Tworzenie klas i przydzielanie uczniów.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-google-plus"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Grupy</h4>

                                    <p class="tall">Podział na wielopoziomowe grupy.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-adjust"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Przedmioty</h4>

                                    <p class="tall">Zarządzanie przedmiotami szkolnymi.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-film"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Sale lekcyjne</h4>

                                    <p class="tall">Opisy sal z pojemnością i możliwościami.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-magic small user"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Godziny zajęć</h4>

                                    <p class="tall">Ustawianie godzin poszczególnych lekcji.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-reorder"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Użytkownicy</h4>

                                    <p class="tall">Zarządzanie wszystkimi użytkownikami.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-desktop"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Plan lekcji</h4>

                                    <p class="tall">Tworzenie i edycja planu lekcji.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-md-pull-8">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">Administrator</h4>

                            <p class="list-group-item-text">Konto do głównego zarządzania szkołą. 
                                Pozwala stworzyć szkielet szkoły.</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Nauczyciel</h4>

                            <p class="list-group-item-text">Może prowadzić lekcje, sprawdzać obecność, wystawiać oceny, tak jak w papierowym dzienniku.</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Uczeń</h4>

                            <p class="list-group-item-text">Wgląd do swoich ocen, obecności, planu lekcji. 
                                Umożliwia łatwą komunikację z nauczycielami.</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Rodzic</h4>

                            <p class="list-group-item-text">Oddzielne konto dla rodzica. Pozwala śledzić postępy dziecka w szkole.</p>
                        </a>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="pricing" id="pricing">

        <div class="container">
            <div class="row">
                <div class="col-md-12 pricing-intro">
                    <h2 class="page-headline large text-center">Wybierz pkiet dla Twojej szkoły.</h2>

                    <p class="text-center">Wybierz odpowiedni pakiet dla potrzeb Twojej szkoły. Każdy znajdzie coś dla siebie!</p>
                </div>
            </div>
        </div>


        <div class="container">

            <div class="row pricing-table">
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading"><h3 class="text-center">PAKIET STARTOWY</h3></div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:40px"><strong>0 zł/semestr</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Wszystkie dostępne opcje</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Tylko raz dla danej szkoły</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Wsparcie 24/7</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success"
                               href="https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat">ZAMÓW TERAZ!</a>
                        </div>
                    </div>
                </div>	
                
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="text-center">PAKIET STANDARD</h3></div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:40px"><strong>500 zł/semestr</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Wszystkie dostępne opcje</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Możliwość skorzystania wiele razy</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Wsparcie w razie problemów</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info"
                               href="https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat">ZAMÓW TERAZ!</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h3 class="text-center">PAKIET PRO</h3></div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:40px"><strong>700 zł/semestr</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Wszystkie dostępne opcje</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Możliwość skorzystania wiele razy</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Wsparcie 24/7</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger"
                               href="https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat">ZAMÓW TERAZ!</a>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>
    <section class="contact" id="contact">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <div class="alert alert-success hidden" id="contactSuccess">
                        <strong>Sukces!</strong> Twoja wiadomość została wysłana.
                    </div>

                    <div class="alert alert-error hidden" id="contactError">
                        <strong>Błąd!</strong> Formularz awiera błędy.
                    </div>

                    <h2 class="short"><strong>Skontaktuj się </strong> z nami</h2>

                    <form class="clearfix" accept-charset="utf-8" method="get" action="#">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="name">Imię i nazwisko</label>
                                <input type="text" placeholder="" value="" name="name" id="name"
                                       class="form-control input-lg">
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="email">Adres e-mail</label>
                                <input type="email" placeholder="" value="" name="email" id="email"
                                       class="form-control input-lg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="message">Wiadomość</label>
                                <textarea rows="4" name="message" id="message" class="form-control"></textarea>
                            </div>
                        </div>

                        <button class="btn btn-success btn-xlg" type="submit">Wyślij wiadomość</button>
                    </form>
                </div>
                <div class="col-md-offset-1 col-md-5">
                    <br/>
                    <h4 class="pull-top">Masz jakieś <strong>pytania?</strong></h4>

                    <p>Zapraszamy do kontaktu z nami, a dowiesz się wszystkiego o naszym e-Dzienniku. Odpowiemy na wszystkie twoje pytania.</p>

                    <hr>

                    <h4>Nasza <strong>firma</strong></h4>
                    <ul class="unstyled">
                        <li><i class="icon-map-marker"></i> <strong>Adres:</strong> Politechnika Poznańska
                        </li>
                        <li><i class="icon-phone"></i> <strong>Telefon:</strong> (123) 456-7890</li>
                        <li><i class="icon-envelope"></i> <strong>E-mail:</strong> <a href="mailto:mail@example.com">dziennik@put.poznan.pl</a>
                        </li>
                    </ul>


                </div>


            </div>

        </div>

    </section>
{% endblock %}
