{% extends './base.html.twig' %}

{% block title %}eDziennik AMN{% endblock %}

{% block body %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" id="home">
		<div class="container">
			<div class="media">				
				<div class="media-body">
					<div class="col-md-11">
						<h1 class="title">e-<span>Dziennik</span></h1>

						<p>To wygodny dziennik internetowy<br/>
							Prosty i szybki w użyciu.<br/>
							Nie wymaga instalacji żadnego nowego oprogramowania,<br/>
							wystarczy komputer z dostępem do internetu.<br/>
							Wygląda i "działa" podobnie jak dziennik papierowy.</p>
						<p>
							<a class="btn btn-success btn-lg">Zarejestruj się</a>
							<a class="btn btn-warning btn-lg">Wypróbuj</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="services">
		<!-- Example row of columns -->
		<div class="row features">
			<div class="col-lg-4 text-center">
				<div class="single-fet">
					<div>
						<span class="icon-stack icon-4x">
							<i class="icon-circle icon-stack-base"></i>
							<i class="icon-ok icon-light"></i>
						</span>
					</div>
					<h2>Najlepsze wyniki <span class="label label-primary">5.0</span></h2>
					<p>Dzięki elementom onec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
						mauris
						condimentum nibh, ut fermentum massa justo sit amet. </p>

				</div>
			</div>
			<div class="col-lg-4 text-center">
				<div class="single-fet">
					<div>
						<span class="icon-stack icon-4x">
							<i class="icon-circle icon-stack-base"></i>
							<i class="icon-laptop icon-light"></i>
						</span>
					</div>
					<h2>Mobilne technologie</h2>

					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
						mauris
						condimentum nibh, ut fermentum massa justo sit amet. </p>

				</div>
			</div>
			<div class="col-lg-4 text-center">
				<div class="single-fet">
					<div>
						<span class="icon-stack icon-4x">
							<i class="icon-circle icon-stack-base"></i>
							<i class="icon-download-alt icon-light"></i>
						</span>
					</div>
					<h2> Przyjazny dla <span style="color:#248822">Ucznia</span></h2>

					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
						mauris
						condimentum nibh, ut fermentum massa justo sit amet. </p>

				</div>
			</div>

		</div>


	</div>


	<section class="slider" id="features">
		<div class="container">
			<div class="inner-page">
				<h2 class="page-headline large text-center">Tell your projects awesome story.</h2>

				<p class="text-center">Tell your projects awesome story. Tell your projects awesome story. Tell your
					projects awesome story. Tell your projects awesome story.</p>
			</div>
			<div class="row inner-page">
				<div class="col-md-8 col-md-push-4 lazy-container loaded">
					<!--<img data-original="images/mockup.png" src="images/mockup.png" alt="Looks great on every device"-->
					<!--class="lazy">-->

					<h2>Our <strong>Features</strong></h2>

					<div class="row">
						<div class="col-md-6">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon-group"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Customer Support</h4>

									<p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon-file"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">HTML5 / CSS3 / JS</h4>

									<p class="tall">Lorem ipsum dolor sit amet, adip.</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon-google-plus"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">500+ Google Fonts</h4>

									<p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon-adjust"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Colors</h4>

									<p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon-film"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Sliders</h4>

									<p class="tall">Lorem ipsum dolor sit amet, consectetur.</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon-magic small user"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Icons</h4>

									<p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon-reorder"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Buttons</h4>

									<p class="tall">Lorem ipsum dolor sit, consectetur adip.</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon-desktop"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Lightbox</h4>

									<p class="tall">Lorem sit amet, consectetur adip.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-4 col-md-pull-8">
					<div class="list-group">
						<a href="#" class="list-group-item active">
							<h4 class="list-group-item-heading">List group item heading</h4>

							<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
								tellus ac cursus commodo, tortor </p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">List group item heading</h4>

							<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
								tellus ac cursus commodo, tortor </p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">List group item heading</h4>

							<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
								tellus ac cursus commodo, tortor </p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">List group item heading</h4>

							<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
								tellus ac cursus commodo, tortor </p>
						</a>

					</div>


				</div>
			</div>
		</div>
	</section>

	<section class="pricing" id="pricing">

		<div class="container">
			<div class="row">
				<div class="col-md-12 pricing-intro">
					<h2 class="page-headline large text-center">Tell your projects awesome story.</h2>

					<p class="text-center">Tell your projects awesome story. Tell your projects awesome story. Tell your
						projects awesome story. Tell your projects awesome story.</p>
				</div>
			</div>
		</div>


		<div class="container">

			<div class="row pricing-table">
				<div class="col-md-4">
					<div class="panel panel-danger">
						<div class="panel-heading"><h3 class="text-center">DEV PLAN</h3></div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> 27/7 support</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-danger"
							   href="https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat">BUY
								NOW!</a>
						</div>
					</div>

				</div>
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading"><h3 class="text-center">PRO PLAN</h3></div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> 27/7 support</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-info"
							   href="https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat">BUY
								NOW!</a>
						</div>
					</div>

				</div>
				<div class="col-md-4">
					<div class="panel panel-success">
						<div class="panel-heading"><h3 class="text-center">FREE PLAN</h3></div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> 27/7 support</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-success"
							   href="https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat">BUY
								NOW!</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section class="contact" id="contact">

		<div class="container">

			<div class="row">

				<div class="col-md-6">

					<div class="alert alert-success hidden" id="contactSuccess">
						<strong>Success!</strong> Your message has been sent to us.
					</div>

					<div class="alert alert-error hidden" id="contactError">
						<strong>Error!</strong> There was an error sending your message.
					</div>

					<h2 class="short"><strong>Contact</strong> Us</h2>

					<form class="clearfix" accept-charset="utf-8" method="get" action="#">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label for="name">Name</label>
								<input type="text" placeholder="" value="" name="name" id="name"
									   class="form-control input-lg">
							</div>

							<div class="col-sm-6 form-group">
								<label for="email">Email Address</label>
								<input type="email" placeholder="" value="" name="email" id="email"
									   class="form-control input-lg">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-group">
								<label for="message">Message</label>
								<textarea rows="4" name="message" id="message" class="form-control"></textarea>
							</div>
						</div>

						<button class="btn btn-success btn-xlg" type="submit">Send Message</button>
					</form>
				</div>
				<div class="col-md-offset-1 col-md-5">
					<br/>
					<h4 class="pull-top">Get in <strong>touch</strong></h4>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet
						varius. In eu ipsum vitae velit congue iaculis vitae at risus.</p>

					<hr>

					<h4>The <strong>Office</strong></h4>
					<ul class="unstyled">
						<li><i class="icon-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United
							States
						</li>
						<li><i class="icon-phone"></i> <strong>Phone:</strong> (123) 456-7890</li>
						<li><i class="icon-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a>
						</li>
					</ul>


				</div>


			</div>

		</div>

	</section>
{% endblock %}
