{% extends './baseSP.html.twig' %}

{% block title %}eDziennik AMN{% endblock %}

{% block content %}
	<div class="row" style="margin-top:10px;margin-bottom: 20px;">
		<div class="col-md-6">
			<div class="list-group">
				<a class="list-group-item active" href="#">
					<h4 class="list-group-item-heading" id="list-group-item-heading">List group item heading</h4>
					<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				</a>
				<a class="list-group-item" href="#">
					<h4 class="list-group-item-heading" id="list-group-item-heading">List group item heading</h4>
					<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				</a>
				<a class="list-group-item" href="#">
					<h4 class="list-group-item-heading" id="list-group-item-heading">List group item heading</h4>
					<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row  bg-primary">
				<div class="col-md-10 col-md-offset-1">
					<div class="panel panel-default" style="margin-top:20px">
						<div class="panel-heading">                                
							<div class="row-fluid user-row">
								<img src="http://s11.postimg.org/7kzgji28v/logo_sm_2_mr_1.png" class="img-responsive" alt="Conxole Admin"/>
							</div>
						</div>
						<div class="panel-body">
							<form method="post" class="form-signin">
								<fieldset>
									{% if msg is not null %}
										<div class="alert alert-danger">Dane logowania są niepoprawne.</div>
									{% endif %}	
									<input class="form-control" name="username" type="text" placeholder="Login lub e-mail" >
									<input class="form-control" name="password" type="password" placeholder="Hasło">
									{% if salesPage is defined and salesPage %}
										<select class="form-control" name="school">
											<option value="">Wybierz szkołę</option>
											{% for value, school in schools %}
												<option value="{{ value }}">{{ school }}</option>
											{% endfor %}
										</select>
									{% endif %}	
									<br></br>
									<input class="btn btn-lg btn-success btn-block" type="submit" id="login" value="Zaloguj">
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if salesPage is defined and salesPage %}
		<script type="text/javascript">
			$("form").submit(function () {
				var select = $(this).find('select');
				if(select.val() == "")
					return false;

				var action = "{{ url('Home/login', {}, '%subdomain%') }}";
				$(this).attr("action", action.replace(/%subdomain%/, select.val()));
			});
		</script>
	{% endif %}	
{% endblock %}
